/* Specific styles for the market page */
.price-container {
    background-color: var(--card-background);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.graph-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    justify-content: center;
}

.graph{
    padding: 2em;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: azure;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}